.SecondToggle span{
    position: absolute;
    z-index: 999;
    bottom: 40px;
    right: 0;
    cursor: pointer;
}

.SecondToggle{
    position: absolute;
    left: 15%;
    bottom: 0;
}

.SecondToggle span:after{
    content: "" !important;
    position: absolute;
    z-index: 999;
    background-image: url(../../images/next.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}