.ev_main_sidebar{
    position: absolute;
    width: 250px;
    height: 100%;
    background: #2c2c2c;
    top: 0;
    left: 0;
}

.ev_main_sidebar .logo{
    position: absolute;
    background-image: url(../../images/data.svg);
    background-size: cover;
    height: 60px;
    width: 60px;
    top: 2%;
    left: 30%;
}

.ev_main_sidebar .main_top_links{
    position: relative;
    top: 10%;
}

.ev_main_sidebar .main_top_links li{
    list-style-type: none;
    padding-bottom: 20px;
    padding-left: 20px;
}

.ev_main_sidebar .main_top_links li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.ev_main_sidebar .main_top_links .icon{
    position: relative;
}

.ev_main_sidebar .main_top_links li:first-child span:after{
     content: "" !important;
     position: absolute;
     background-image: url(../../images/project.svg);
     background-size: cover;
     height: 24px;
     width: 24px;
     top: 0%;
     left: -20%;
}
.ev_main_sidebar .main_top_links li:nth-child(2) span:after{
  content: "" !important;
  position: absolute;
  background-image: url(../../images/requirement.svg);
  background-size: cover;
  height: 24px;
  width: 24px;
  top: 0%;
  left: -20%;
}
.ev_main_sidebar .main_top_links li:nth-child(3) span:after{
  content: "" !important;
  position: absolute;
  background-image: url(../../images/connection.svg);
  background-size: cover;
  height: 24px;
  width: 24px;
  top: 0%;
  left: -20%;
}
.ev_main_sidebar .main_top_links li:nth-child(4) span:after{
  content: "" !important;
  position: absolute;
  background-image: url(../../images/insect.svg);
  background-size: cover;
  height: 24px;
  width: 24px;
  top: 0%;
  left: -20%;
}
.ev_main_sidebar .main_top_links li:nth-child(5) span:after{
  content: "" !important;
  position: absolute;
  background-image: url(../../images/rich.svg);
  background-size: cover;
  height: 24px;
  width: 24px;
  top: 0%;
  left: -20%;
}
.ev_main_sidebar .main_top_links li:nth-child(6) span:after{
  content: "" !important;
  position: absolute;
  background-image: url(../../images/diamond.svg);
  background-size: cover;
  height: 24px;
  width: 24px;
  top: 0%;
  left: -20%;
}

.collapsible_menu input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
}

.collapsible_menu label{
  position: relative;
  color: #ffffff;
  font-size: 18px;
  padding-left: 40px;
}

.collapsible_menu label span:after{
  content: "" !important;
  position: absolute;
  background-image: url(../../images/white-arrow.png);
  background-size: cover;
  height: 24px;
  width: 24px;
  top: 10%;
  right: -30px;
  transition: all 0.3 ease;
  transform: rotate(270deg);
}

input:checked + label span:after {
  content: "" !important;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 4px;
  right: -30px;
  transform: rotate(360deg);
}

.menu_content {
  max-height: 0;
  overflow: hidden;
  text-align: left;
  padding-top: 10px;
}
/* Toggle Effect */
input:checked ~ .menu_content {
  max-height: 100%;
}

.ev_main_sidebar .buttons{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ev_main_sidebar .buttons button{
    width: 80%;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    color: #ffffff;
}
