#app{
  
}

#app .header { 
  position: relative;
  height: var(--header-height);
  text-align: center; 
  height: 80px;
  background: #2c2c2c;
  z-index: 99;
}

#app .left_sidebar{

}

#app .right_sidebar{
  
}

#app .content h1{
  margin-left: 500px;
  padding: 10px;
}






